.box {
	margin: 10px;
	text-align: center;
	height: auto;
	display: flex;
	flex-direction: column;
}

.h5 {
	width: auto;
	height: 100%;
	overflow: hidden;
}
.electedStatus {
	font-size: 1.2em;
	color: rgb(187, 152, 9);
}
.grid {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid > div {
	flex-basis: calc(20% - 10px);
}
