

.view p{
    text-align: left;
}
.view {
    background-color: white;
   
margin-top: 2em;
    text-align: center;
    padding: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }


  
  /* On mouse-over, add a deeper shadow */
  .view:hover {
    box-shadow: 0 20px 20px 0 rgba(9, 42, 65, 0.2);
    
  }

 
  @media(max-width: 600px){
   
   .container{
     background-color: black;
   }
    .view{
   
  width: 100vw;
  background-color: black;
   }

   .mugshot{
     width: 50%;
   }

  
  

  }
  