.box {
	margin: 10px;
text-align: center;
	height: auto;
	display: flex;
	flex-direction: column;
}

.h5 {
  height: 70px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:0;
  padding-bottom:1em;
}
.electedStatus {
	font-size: 1.2em;
	color: rgb(187, 152, 9);
}
.grid {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid > div {
	flex-basis: calc(20% - 10px);
}
