.box {
    margin: 10px;
    text-align: center;
  }
  
  .grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .grid > div {
    flex-basis: calc(20% - 40px);
  }