
.card-body{
  background-color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
 
 }


 
.view{
  background-color: white;
}

image{
  max-width: 5em;
  height: auto;
}

a{
  color: rgb(187, 152, 9);
  text-decoration: underline;
}
a:link {
  color: rgb(187, 152, 9);
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: rgb(187, 152, 9)
}

/* mouse over link */
a:hover {
  color: rgb(187, 152, 9);
}

/* selected link */
a:active {
  color:rgb(187, 152, 9)
}

.boss{
  text-align: center;
}

.container{ 

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
background-attachment: fixed;
display: flex;
background-size: 30em;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-content:center;

}





div{
  margin: auto;
  width: 100%;
}

.btn-outline-secondary {
  align-self:  flex-end;   


}

.box p {
  text-align: left;
}
.head{
 padding:1em;
 color: rgb(187, 152, 9);
font-family: Merriweather; 
}

h1{
  font-size: 4em;
  text-align: center;
}

footer {
  text-align: center;
  padding: -10px;

}

@media(max-width: 1000px){
 .electedStatus{
   font-size: 10px;
  }

   .card{
    width: 100px;
    height: 350px;
  }

  .card-title{
   justify-content: flex-start;
   align-items:flex-start;
}

  #title{
    font-size: 11px;
  }

#info{
  font-size: 10px;
}

}

@media(max-width: 950px){

  .box{
    margin: 2px;
  }
  
image{
  max-width: 100%;
  height: auto;
}

  .head{
    font-family: Merriweather; 
text-align: center;
  }

  .card{
    width: 300px;
    height: 350px;
  }

   .electedStatus{
   font-size: 8px;
 
  }

  .card-title{
   justify-content: flex-start;
   align-items:flex-start;
}

  #title{
    font-size: 10px;
  }

.moreInfoButton{
   width: 80%;
   height: auto;
}

.electedStatus{
   font-size: 12px;

  }

#info{
  font-size: 10px;
}

}

@media all and (min-width: 500px) and (max-width: 850px) {
  .container {
  
    background-color: white;        
    background-position: -9999px -9999px;

  }

  image{
    max-width: 20%;
    height: auto;
  }

    #title{
    font-size: 5px;
  }

    .electedStatus{
   font-size: 15px;

  }

   #info{
    font-size: 12px;
  }

  .card{
    width: 600px;
    height: auto;
  }

    
.card-title{
   text-overflow: ellipsis; 
   justify-content: flex-start;
   align-items:flex-start;
}
}



@media all and (max-width: 500px) {
  .container {
   
    background-color: white;
    background-position: -9999px -9999px;
  }

  h1{
    font-size: 2em;
  }
  .card{
    width: 310px;
    height: 200px;
   
  }

    #title{
    font-size: 5px;
  }

    .electedStatus{
   font-size: 5px;
 
  }

  #info{
    font-size: 5px;
  }

  image{
    max-width: 10%;
    height: auto;
  
  }

   .grid > div {
    flex-basis: calc(30% - 20px);
  }
  
}
