

h1{
  margin-bottom: 3em;
}

div{
  margin: auto;
  width: 100%;
}
.box p {
  text-align: left;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(20% - 40px);
}

p{float: left;}