.view{
  background-color: white;
}

image{
  max-width: 100%;
  height: auto;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: rgb(187, 152, 9);
}

/* selected link */
a:active {
  color: blue;
}

.boss{
  text-align: center;
}

.container{ 

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
background-attachment: fixed;
background-position: center;
display: flex;
background-size: 30em;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-content:center;

}

.card-body{
 background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;  
}





div{
  margin: auto;
  width: 100%;
}

.btn-outline-secondary {
  align-self:  flex-end;   


}

.box p {
  text-align: left;
}
.head{
 padding:1em;
 color: rgb(187, 152, 9);
font-family: Merriweather; 
}

h1{
  font-size: 6em;
}

footer {
  text-align: center;
  padding: -10px;

}

@media(max-width: 950px){
  .container{
    flex-direction: column;
    background-color: black;
    background-position: -9999px -9999px

  } 
image{
  max-width: 50%;
  height: auto;
}

  .head{
    font-family: Merriweather; 
text-align: center;
  }

  .card{
    width: 400px;
  
  }

  .card-title{
    word-wrap: break-word;
  }


}

@media all and (min-width: 500px) and (max-width: 750px) {
  .container {
    background-color: white;
  }
}

@media all and (max-width: 500px) {
  .container {
    background-color: white;
  }

  image{
    max-width: 50%;
    height: auto;
  }
  
}
